# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Virtual Environments
# ======================
env/
venv/
ENV/
venv3/
venv4/
venv2/

# ======================
# Django Stuff
# ======================
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# ======================
# Environment Variables
# ======================
.env

# ======================
# IDE / Editor Files
# ======================
.vscode/
.idea/
*.swp

# ======================
# OS-specific Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Optional
# ======================
node_modules/
.github/




*.json
